<div class="row">
	<div class="col-md-3">
		<h2>Your Stats</h2>
		<%= pluralize current_user.tweets.count, 'tweet' %>
		<p><%= link_to 'Following: ', following_path(id: current_user.id) %> <%= pluralize current_user.following.count, 'tweety' %></p>

		<h2>Trending Tags:</h2>


	</div>
	<div class="col-md-6">

		<%= render 'tweets/form', tweet: Tweet.new %>

		<h1>@<%= current_user.username %>'s Twitter Feed</h1>
		<% @following_tweets.each do |tweet| %>
			<%= render tweet %>
		<% end %>


	</div>
	<div class="col-md-3">
		<h3>People to Follow</h3>
			<% @users.each do |user| %>
			<%= render 'tweets/tweet', tweet: user.tweets.last %>			
		<% end %>
	</div>

</div>