<div class="row">
	<div class="col-md-3">
		<h3>People to Follow</h3>
			<% @users.each do |user| %>
			<%= link_to user.username, show_user_path(id: user.id) %>				
			<p><%= user.username %></p>
		<% end %>

	</div>
	<div class="col-md-6">

		<%= render 'tweets/form', tweet: Tweet.new %>

		<h1>@<%= current_user.username %>'s Twitter Feed</h1>
		<% @following_tweets.each do |tweet| %>
			<%= render tweet %>
		<% end %>


	</div>
	<div class="col-md-3">
	</div>

</div>