<h1>@<%= @user.username %>'s Profile & Tweets</h1>

<div class="row">
	<div class="col-md-3">
		<p><strong>@<%= @user.name %></strong></p>
	<p><strong>Location:</strong><br>
	<%= @user.location %></p>
	<p><strong>About:</strong><br>
	<%= @user.bio %></p>
	<%= image_tag @user.avatar.url, class: "profile-image" %>

	<p>
	    <% if current_user.following.include?(@user.id) %>
	        <%= link_to "Following", unfollow_path(id: @user.id), id: 'unfollow_btn',class: "btn btn-default" %>
	    <% else %>
	        <% if current_user.id != @user.id %>
		    <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-default" %>
		<% end %>
	    <% end %>
	</p>
	</div>

	

	<div class="col-md-6">

	<ul class="nav nav-tabs">
		<li class="nav-item">
			<%= link_to 'Following', following_path(id: @user.id), class: "nav-link" %>
		</li>
		<li class="nav-item">
			<%= link_to 'Followers', followers_path(id: @user.id), class: "nav-link" %>
		</li>
	</ul>

	<% @user.tweets.each do |tweet| %>
				<div class="media some-space">
				  	<%= image_tag tweet.user.avatar.url, class: "mr-3 avatar", alt: "User avatar"%>
				  		<div class="media-body">
				    		<h5 class="mt-0">@<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %></h5>
				    			<%= tweet.message.html_safe %>
				  		</div>
				</div>
			<% end %>
	</div>

	<div class="col-md-3">
	</div>
</div>